{% extends "template/admTemplate.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/handColStyle.css">
{% endblock %}

{% block script %}
    <script src=""> </script>
{% endblock %}

{% block content %}
    <div id="hand-col-div">
        <table>
            <thead>
                <tr>
                    <th> Aperçu </th>
                    <th> Nom </th>
                    <th> Code Hexa </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Roue </td>
                    <td> Rouge </td>
                    <td> #ff0000 </td>
                    <td class="act-td"> 
                        <button> Modifier </button>
                        <button> Supprimer </button>
                    </td>
                </tr>
                <tr>
                    <td> Vdert </td>
                    <td> Vert </td>
                    <td> #ff0000 </td>
                    <td class="act-td"> 
                        <button> Modifier </button>
                        <button> Supprimer </button>
                    </td>
                </tr>
                <tr>
                    <td> Jausdne </td>
                    <td> Jaune </td>
                    <td> #ff0000 </td>
                    <td class="act-td"> 
                        <button> Modifier </button>
                        <button> Supprimer </button>
                    </td>
                </tr>
                <tr>
                    <td> Nosdir </td>
                    <td> Noir </td>
                    <td> #ff0000 </td>
                    <td class="act-td"> 
                        <button> Modifier </button>
                        <button> Supprimer </button>
                    </td>
                </tr>
                <tr>
                    <td> Blsdeu </td>
                    <td> Bleu </td>
                    <td> #ff0000 </td>
                    <td class="act-td"> 
                        <button> Modifier </button>
                        <button> Supprimer </button>
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
{% endblock %}