{% extends "template/visTemplate.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/colTableStyle.css">
{% endblock %}

{% block script %}
    <script src="/js/gameOneJs.js"> </script>
{% endblock %}

{% block content %}
    <div id="col-blo-cont">
    </div>
    <div id='lau-butt-div'>
        <button id="lau-butt"> Valider mes réponses et lancer le deuxième jeu </button>
    </div>
{% endblock %}