<?php $style = '<link rel="stylesheet" href="css/colTableStyle.css">' ?>
<?php $js = '<script src="js/gameOneJs.js"> </script>' ?>

<?php ob_start(); ?>
    <div id="col-blo-cont">
    </div>
    <div id='lau-butt-div'>
        <button id="lau-butt"> Valider mes réponses et lancer le deuxième jeu </button>
    </div>

<?php $content = ob_get_clean(); ?>

<?php require('template/visTemplate.php'); ?>