{% extends "template/visTemplate.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/menuStyle.css">
{% endblock %}

{% block script %}
    <script src="/js/menuJs.js"> </script>
{% endblock %}

{% block content %}
    <div>
        <h2> Menu </h2>
    </div>
    <form id="" action="" method="post">
        <div id="grp-opt-div">
            <div class="opt-div">
                <legend class="opt-ind-ln"> Choix des couleurs: </legend>
                <div id="col-ls-opt-div">
                    <div class="col-sel-opt-div">
                        <label for="col-fam-opt" class="col-opt-lab"> Par famille </label>
                        <input type="radio" class="col-opt-but" id="col-fam-opt" name="col-filt" value=""/ >
                        <select id="fam-ls" class="invisible" name="fam-col"> 
                            <option hidden disabled selected value> sélectionner une famille </option>
                            <option value="green"> vert </option>
                            <option value="yellow"> jaune </option>
                            <option value="blue"> bleu </option>
                            <option value="brown"> marron </option>
                        </select>
                    </div>
                    <div class="col-sel-opt-div">
                    <label for="col-rand-opt" class="col-opt-lab"> Aléatoire </label>
                    <input type="radio" id="col-rand-opt" class="col-opt-but" name="col-filt" value="" />
                    </div>
                </div>
            </div>
            <div class="opt-div">
                <legend  class="opt-ind-ln"> <label for="col-nb-inp"> Choix du nombre: </label> </legend>
                <input type="text" id="col-nb-inp" name="col-nb" placeholder="Maximum: " value="" />
            </div>
            <div class="opt-div">
                <legend class="opt-ind-ln"> Choix du niveau: </legend>
                <input type="radio" id="app-lev" class="level" name="level"  hidden/>
                <label for="app-lev" class="lev-label"> Apprenti </label>
                <input type="radio" id="exp-lev" class="level" name="level" hidden/>
                <label for="exp-lev" class="lev-label"> Expert </label>
            </div>
        </div>
        <div id="form-sub-div">
            <input type="submit" id="sub-for" class="btn btn-primary" value="Commencer la partie" />
        </div>
    </form>
{% endblock %}
